.li_down {
  .li_mt100 {
    margin-top: 100px;
  }
  .li_downText {
    text-align: center;
    .li_downH4 {
      font-weight: 700;
    }
    .li_downP {
      font-weight: 500;
      font-size: 1.25rem;
      padding: 0 25%;
    }
  }
}
